nav {
  background-color: #648ddb;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
  color: #dce4ff;
}
